{{- /* vim: set ft=gitconfig : */ -}}
[user]
	name = "{{ .name }}"
	email = "{{ .email }}"

[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore

[diff]
	relative = true
	colorMoved = dimmed-zebra
	colorMovedWs = ignore-space-change

[fetch]
	prune = true

[pull]
	ff = only

[push]
	default = simple

[rerere] # reuse the manual merging on identical chunks
	enabled = 1
	autoupdate = 1
