{{- /* vim: set ft=gitconfig : */ -}}
[user]
name = "{{ .name }}"
email = "{{ .email }}"

[init]
# allows us to have default git hooks that apply to all projects
# see https://tbaggery.com/2011/08/08/effortless-ctags-with-git.html
# use `git init` to retroactively apply them to checked out repos
templatedir = ~/.config/git/template

[core]
editor = nvim
excludesfile = ~/.config/git/ignore

[diff]
relative = true
colorMoved = dimmed-zebra
colorMovedWs = ignore-space-change

[fetch]
prune = true

[pull]
ff = only

[push]
default = simple

[rerere] # reuse the manual merging on identical chunks
enabled = 1
autoupdate = 1

[alias]
ctags = !.git/hooks/ctags
