{{- /* vim: set ft=gitconfig : */ -}}
[user]
name = "{{ .name }}"
email = "{{ .email }}"

[advice]
statusHints = false

[init]
# allows us to have default git hooks that apply to all projects
# see https://tbaggery.com/2011/08/08/effortless-ctags-with-git.html
# use `git init` to retroactively apply them to checked out repos
templatedir = ~/.config/git/templates/default

[core]
editor = nvim
excludesfile = ~/.config/git/ignore
attributesFile = ~/.config/git/attributes

[column]
ui = auto,row

[commit]
template = ~/.config/git/commmit

[diff]
relative = true
noprefix = true
renames = copies
colorMoved = dimmed-zebra
colorMovedWs = ignore-space-change
tool = nvim

[difftool "nvim"]
cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool "kitty"]
cmd = kitty +kitten diff "$LOCAL" "$REMOTE"
prompt = false

[merge]
tool = fugitive

[mergetool "fugitive"]
cmd = nvim +Gvdiffsplit! "$MERGED"

[fetch]
prune = true

[pull]
ff = only

[push]
default = simple
# this doesn't force, just checks that we have the changes we're overwriting
useForceIfIncludes = true

[rebase]
missingCommitsCheck = error

[rerere] # reuse the manual merging on identical chunks
enabled = 1
autoupdate = 1

[worktree]
guessRemote=true

[url "git@github.com:kevna/"]
insteadOf = https://github.com/kevna/

{{ if eq .class "work" -}}
[includeIf "gitdir:~/Documents/micros/"]
path = ~/.config/git/microservices

{{ end -}}
[alias]
ctags = !$(git rev-parse --git-path hooks)/ctags
diffk = difftool --tool=kitty --no-symlinks --dir-diff
pushnew = "!f() { : git push; \
	BRANCH=$(git rev-parse --symbolic-full-name --abbrev-ref HEAD); \
	git push -u origin $BRANCH \
		-o merge_request.create \
		-o merge_request.title=\"Draft:${BRANCH%-*} - <task title>\"; \
	}; f"
