# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4
font pango:monospace 8
new_window pixel 1
# new_float normal 1
hide_edge_borders smart
{{- if contains "terminal" .chezmoi.hostname }}
gaps inner 7
{{- end }}

# Play nice with GNOME
# rfkill allows managing bluetooth devices from gnome-control-panel
exec --no-startup-id /usr/lib/gnome-settings-daemon/gsd-rfkill &
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
exec --no-startup-id gnome-flashback &
{{/* exec --no-startup-id /usr/bin/gnome-screensaver */}}

exec --no-startup-id parcellite &
exec --no-startup-id redshift &
exec --no-startup-id compton &
exec --no-startup-id bash -c "sleep 7 && ~/.config/i3/keyboard.sh" &
{{- if contains "terminal" .chezmoi.hostname }}
exec --no-startup-id ~/screens.sh &
exec --no-startup-id xrdb ~/.Xresources &
exec --no-startup-id conky &
exec --no-startup-id ~/.config/i3/workspace1.sh &
{{- end }}

{{/*
# ALSAmixer controls
# bindsym XF86AudioRaiseVolume exec --no-startup-id amixer set Master 1%+ unmute #increase sound volume
# bindsym XF86AudioLowerVolume exec --no-startup-id amixer set Master 1%- unmute #decrease sound volume
# bindsym XF86AudioMute exec --no-startup-id amixer set Master toggle # mute sound
*/}}
# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +5% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -5% #decrease sound volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle # mute sound
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute 1 toggle
{{- if contains "jarvis" .chezmoi.hostname }}
# MPC player controls
bindsym XF86AudioPlay exec --no-startup-id mpc toggle
bindsym XF86AudioStop exec --no-startup-id mpc stop
bindsym XF86AudioNext exec --no-startup-id mpc next
bindsym XF86AudioPrev exec --no-startup-id mpc prev
{{- end }}
{{- if contains "terminal" .chezmoi.hostname }}
bindsym $mod+z exec --no-startup-id rofi -show connect
{{- end }}
bindsym XF86Calculator exec kitty -o shell python
bindsym XF86Explorer exec kitty -o shell ranger

# use Mouse+$mod to drag floating windows
floating_modifier $mod

# terminal (default i3-sensible-terminal)
{{/* set $term urxvtcd */}}
set $term kitty
bindsym $mod+Return exec $term

{{- if contains "jarvis" .chezmoi.hostname }}
set $stname scratchterm
# start a terminal
#bindsym $mod+Return exec
bindsym XF86Launch1 exec --no-startup-id i3-msg '[instance="$stname"] scratchpad show' 2>/dev/null | grep -q true || (($term --class $stname &) && sleep 0.3 && i3-msg '[instance="$stname"] scratchpad show')
# bindsym F12 exec ~/.$stname/$stname

for_window [instance="$stname"] border none
for_window [instance="$stname"] floating enable
for_window [instance="$stname"] sticky enable
for_window [instance="$stname"] move absolute position 230 16
for_window [instance="$stname"] resize set width 900
for_window [instance="$stname"] resize set height 350
for_window [instance="$stname"] move to scratchpad
{{- end }}

# lock screen
{{/* bindsym $mod+BackSpace exec --no-startup-id dbus-send --type=method_call --dest=org.gnome.ScreenSaver /org/gnome/ScreenSaver org.gnome.ScreenSaver.Lock */}}
bindsym $mod+BackSpace exec --no-startup-id i3lock-fancy -pf "Victor-Mono-Regular" -- scrot -z

# warp to urgent window
bindsym $mod+u [urgent="latest"] focus

# kill focused window
bindsym $mod+Shift+q kill

# rofi program launcher (formerly dmenu)
bindsym $mod+d exec rofi -show drun
# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# bindsym $mod+d exec --no-startup-id i3-dmenu-desktop

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
# Split in the opposite direction to last (can then be swapped with $mod+e above if needed)
bindsym $mod+t split toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent/child container
bindsym $mod+a focus parent
# bindsym $mod+d focus child # Replaced with dmenu/rofi

# move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

set $ws1 "01"
set $ws2 "02"
set $ws3 "03"
set $ws4 "04"
set $ws5 "05"
set $ws6 "06"
set $ws7 "07"
set $ws8 "08"
set $ws9 "09"
set $ws0 "10"
# set $out1 "eDP-1"
# set $out2 "DP-2"
# workspace $ws1 output $out1
# workspace $ws0 output $out2

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
	# These bindings trigger as soon as you enter the resize mode

	# Pressing left will shrink the window’s width.
	# Pressing right will grow the window’s width.
	# Pressing up will shrink the window’s height.
	# Pressing down will grow the window’s height.
	bindsym h resize shrink width 10 px or 10 ppt
	bindsym j resize grow height 10 px or 10 ppt
	bindsym k resize shrink height 10 px or 10 ppt
	bindsym l resize grow width 10 px or 10 ppt

	# same bindings, but for the arrow keys
	bindsym Left	resize shrink width 10 px or 10 ppt
	bindsym Down	resize grow height 10 px or 10 ppt
	bindsym Up	resize shrink height 10 px or 10 ppt
	bindsym Right	resize grow width 10 px or 10 ppt

	# back to normal: Enter or Escape
	bindsym Return mode "default"
	bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

{{- if contains "jarvis" .chezmoi.hostname }}
mode "move" {
	# move focused window
	bindsym h move left
	bindsym j move down
	bindsym k move up
	bindsym l move right

	# alternatively, you can use the cursor keys:
	bindsym Left move left
	bindsym Down move down
	bindsym Up move up
	bindsym Right move right

	# back to normal: Enter or Escape
	bindsym Return mode "default"
	bindsym Escape mode "default"
}

bindsym $mod+m mode "move"
{{- end }}

#######################
# i3 WM GRUVBOX THEME #
#######################
# inspired by https://github.com/a-schaefers/i3-wm-gruvbox-theme

# set primary gruvbox colorscheme colors
set $bg #282828
set $fg #fbf1c7
set $alert #d65d0e
set $white #ebdbb2
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $grey #a89984
set $darkgrey #1d2021

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
	# status_command i3status
	status_command py3status -c .config/py3status/config
	position top
	separator_symbol ""
	# output primary
	tray_output primary
	{{- if contains "jarvis" .chezmoi.hostname }}
	mode hide
	modifier $mod
	{{- end }}
	colors {
		# bar background color
		background $bg
		# text color used for blocks that do not have a color specified.
		statusline $white
		separator $purple
		# workspaces section
		#                       border  backgr. text
		focused_workspace	$aqua $aqua $darkgrey
		inactive_workspace	$bg $bg $white
		active_workspace	$bg $bg $aqua
		urgent_workspace	$alert $alert $darkgrey
		binding_mode		$red $red $darkgrey
	}
}

# window decoration theme

# class                 border|backgr|text|indicator|child_border
client.focused          $blue $blue $darkgrey $purple $blue
client.focused_inactive $bg $bg $blue $purple $bg
client.unfocused        $bg $bg $white $purple $bg
client.urgent           $alert $alert $darkgrey $purple $alert

# end of window decoration section

{{- if contains "terminal" .chezmoi.hostname }}
set $background ~/Pictures/background.png
exec --no-startup-id xsetroot -solid '$bg'
exec --no-startup-id bash -c "sleep 3 && nitrogen --restore" &
{{- else }}
set $background ~/Pictures/pactron.png
exec --no-startup-id feh --bg-max $background --image-bg=$bg &
{{- end }}
